<!-- Alimenter les filtres et checkboxes -->
<div class="eventsfilters px-16 py-4">
    <p>Filtrer par :</p>
    <div class="space-x-3">
        <label for="city-select">Ville:</label>
        <select name="city" id="city-select">
            <option value="">--Choisir une ville--</option>
            <option value="xxx">XXX</option>
        </select>
    </div>
    <fieldset>
        <div class="flex space-x-3">
            <legend>Catégorie d'évènement:</legend>
            <div>
            <input type="checkbox" id="" name=""/>
            <label for=""></label>
            </div>
        </div>
      </fieldset>
</div>
