<div class="flex flex-row flex-wrap gap-10 justify-center">
    <div class="flex flex-col rounded-2xl w-60 bg-[#f4f4f4] shadow-xl" *ngFor="let event of events">
        <figure class="flex justify-center items-center rounded-2xl h-44">
            <img src={{event.image_url}} alt="Photo de capoeiristes" class="rounded-t-2xl h-44">
        </figure>
        <div class="flex flex-col p-4 ">
            <div class="text-2xl font-bold   text-[#374151] pb-4">{{event.title}}</div>
            <div class=" text-base   text-[#374151]">{{event.description}}</div>
            <div class="flex justify-end pt-4">
                <button class="bg-[#FDB813] text-[#ffffff] w-full font-bold text-base  p-3 rounded-lg active:scale-95 transition-transform transform">En savoir plus</button>
            </div>
        </div>
    </div>
</div>
