<section class="hero">
  <div>
    <h1>Bienvenue dans la Fédération <br>  Française de Capoeira</h1>
    <h2>Partageons l’art, le mouvement et la passion.</h2>
  </div>
  
  <div>
    <button class="button-hero" >Participer à la communauté</button>
    <button class="button-hero" >Découvrir les événements</button>
    <button class="button-hero" >Explorer les ressources</button>
  </div>
</section>

<section>
  <h2>pROCHAIN EVENMENT :</h2>
</section>

<section>
  <h3>"La capoeira m'a appris à dépasser mes limites, à célébrer chaque instant et à trouver ma force dans la communauté."</h3>
  <img src="/home_motiv.png" alt="">
</section>

